{# Template Created By: DDV <ddv@qubitlogic.net> #}

{% extends 'MainUserBundle::userArea.html.twig' %}

{% block title 'USD Deposit' %}

    {% block user_header 'USD Deposit' %}

    {% block user_content %}
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-5 col-md-offset-2">
                    <div class="well well-sm">
                        <h2>USD Deposit</h2>
                        <p>Which deposit method would you like to use?</p>
                        <p><a href="{{ path('fiat_etf_deposit') }}" class="btn btn-lg btn-primary">ETF/Wire Transfer</a> <a href="{{ path('fiat_wu_deposit') }}" class="btn btn-lg btn-primary">Western Union</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock user_content %}