{# Template Created By: DDV <ddv@qubitlogic.net> #}

{% extends '::base.html.twig' %}

{% block title 'USD ETF/Wire Transfer Deposit' %}

    {% block content %}
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-5 col-md-offset-2">
                    <div class="well well-sm">
                        <h2>ETF/Wire Transfer Deposit</h2>
                        {% if allowed == null %}
                            <p>{{ form(form) }}</p>
                        {% else %}
                            <p>ETF Deposit is currently not permitted for unverified members. Please verify your account and try again.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}