{# Template Created By: DDV <ddv@qubitlogic.net> #}

{% extends 'MainUserBundle::userArea.html.twig' %}

{% block title 'USD ETF/Wire Transfer Deposit' %}
    {% block user_header 'USD ETF/Wire Transfer Deposit' %}

    {% block user_content %}
        <div class="container">
            <div class="col-md-12">
                {% include 'MainSiteBundle:Notification:flashes.html.twig' %}
                <div class="col-md-5 col-md-offset-2">
                    <div class="well well-sm">
                        <h2>ETF/Wire Transfer Deposit</h2>
                            <p>{{ form(form) }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock user_content %}