{# Template Created By: DDV <ddv@qubitlogic.net> #}

{% extends '::base.html.twig' %}

{% block title 'USD Western Union Deposit' %}

    {% block content %}
        <div class="container">
            <div class="col-md-12">
                {% include 'MainSiteBundle:Notification:flashes.html.twig' %}
                <div class="col-md-5 col-md-offset-2">
                    <div class="well well-sm">
                        <h2>Western Union Deposit</h2>
                            <p>{{ form(form) }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}