parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    bitcoin_service.secret: %secret%
    bitcoin_service.api_root: http://blockchain.info/api/receive
    bitcoin_service.deposit_address: 1BBTRdQFt14iR4VPNntVGD6nn5oJ8tzbtt
    bitcoin_service.callback_url: http://quadrigacx.qubitlogic.net/api/bitcoin/
