{# Template Created By: DDV <ddv@qubitlogic.net> #}


{% extends '::base.html.twig' %}

{% block title 'Marketplace Offer List' %}

    {% block content %}
        <div class="container">
            <div class="col-md-12">
                {% include 'MainMarketBundle:Default:viewContent.html.twig' %}
            </div>
        </div>
    {% endblock %}