/**
 * Created by DavidDV <ddv@qubitlogic.net>
 * For project QuadrigaCX
 * Created: 9/30/13
 * <http://[github|bitbucket].com/zetas>
 */

/* CSS Document */
body {



    margin:0px;

    color: #333333;

    background-color:#ebf1e4;



}



h1
{
    font-family: tahoma;
    font-size: 25px;
    color: #000033;
    font-weight:600;









}



h2{
    font-size: 18px;
    color: #398ced;
    font-family: tahoma;
    margin-top:5px;



}
h3{
    font-family: tahoma;
    font-size: 47px;
    color: #ff8400;
    font-weight:lighter;






}
small{
    color: #ffffff;

}
body {
    font-family: tahoma;
    font-size: 13px;

    line-height:20px;




}

.link{
    color:#FFFF00;
}

img.recent{float:left; margin-right:0.8em;}
img.desc{float:left; margin-left:3em;}

img{ border:none;}

a:link {
    text-decoration: none;
    color: #999999;
}
a:visited {
    text-decoration: none;
    color: #999999;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: none;
}




td.td1{ background-color:#FFFFFF}
tr.tr1{ background-color:#FFFFFF}

.style1{ color:#FFFFFF;}
.style2{ color: #FFFF00;}
.titlepost{margin-bottom:0.1em;}

p img {
    padding: 3px;
    max-width: 100%;
}

#container{width:1000px; margin: 0 auto; clear:both;}
#wrapperheader{width:100%; float:left; height:221px; background-image:url(/bundles/mainsite/images/headerbg.jpg);}
#leftheader{width:50%; float:left; text-align:left; color:#FFFFFF; margin-top:20px;}
#rightheader{width:40%; float:right; text-align:right; color:#999999; margin-top:20px; text-transform:uppercase;}
#logo{position:absolute; width:387px; height:89px; margin-top:95px;}
#navigaiotn{width:640px; position:absolute; margin-left:400px; margin-top:130px; }


#homebanner{width:100%; height:440px; float:left; background-image:url(/bundles/mainsite/images/homeheaderbg.jpg);}
#mainbanner{width:1000px; background-image:url(/bundles/mainsite/images/headerimage.png); height:440px; margin: 0 auto;}
#textlinks{float:right; margin-right:70px; width:400px; text-align:right; color:#333333; margin-top:180px;}
#textlinks a:link{color:#333333;}
#signbutton{width:298px; height:76px; float:right; margin-right:-410px; margin-top:210px;}



#maincontent{width:100%; float:left; padding-top:20px; padding-bottom:20px; background-color:#FFFFFF;}
#box{width:316px; height:277px; float:left;  margin-left:13px;}
#boxheader{width:316px; height:77px; float:left;}
#boxcontent{width:316px; height:200px; float:left; background-image:url(/bundles/mainsite/images/boxes_02.jpg);}
#box li{padding-left:25px; background-image:url(/bundles/mainsite/images/check.png); height:17px; background-repeat:no-repeat; margin-bottom:20px; list-style:none; background-position:left;}


#membersnav{width:980px; padding:10px; float:left; background-color:#CCCCCC; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin-bottom:40px;}


#contentcontainer{width:958px; float:left; text-align:justify; margin-left:34px;}



#footerone{width:100%; float:left; padding-top:20px; padding-bottom:20px; background-color:#000000; color:#FFFFFF;}




#footer{width:100%; padding-top:30px; padding-bottom:30px; float:left; background-color:#280000; text-align:center; color:#FFFFFF}
#footer a:link{color:#FFFFFF;}
#footertext{width:100%; height:30px; padding-top:10px; float:left; margin-top:25px; color:#000000; font-size:11px; font-weight:bold; text-align:center;}



#lefttoright{color:#CC6600; font-weight:lighter; text-align:center; width:690px; float:left;}






p img {
    padding: 0;
    max-width: 100%;
}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignright {
    padding: 4px;
    margin: 0 0 2px 7px;
    display: inline;
}

img.alignleft {
    padding: 4px;
    margin: 0 7px 2px 0;
    display: inline;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}
/* End Images */



/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
    margin-left: 0px;
    padding: 0 0 0 30px;
    list-style: none;
    padding-left: 10px;
    text-indent: -10px;
}

html>body .entry li {
    margin: 7px 0 8px 10px;
}





.aligncenter,
div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    border: 1px solid #ddd;
    text-align: center;
    background-color: #f3f3f3;
    padding-top: 4px;
    margin: 10px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    padding: 0 4px 5px;
    margin: 0;
}





#slider{width:918px; height:166px; float:left; margin-left:0.2em; margin-top:-0.5em; }

#slideshow {
    position:relative;
    height:166px;
    width:918px;
    margin-left:1em;
    margin-top:1em;
    z-index:1;

}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}


#nav{
    clear:both;
    color:#363636;

    float:right;
    list-style-type:none;
    font-size:16px;
    text-shadow:#333333 1px 1px;






}
html>body #nav{

    margin-top:-15px;
    margin-right:24px;



}
#nav li{
    list-style-type:none;
    float:left;

    text-align:center;

    line-height:12px;







}
#nav li a{
    color: #ffa200;
    text-decoration:none;
    display:block;
    padding:20px 19px 20px 19px;



}



#nav li a:hover{
    color: #ffffff;
    text-decoration:none;
    display:block;
    background-color: #000000;
    padding:20px 19px 20px 19px;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;







}






#nav2{
    clear:both;
    color:#363636;

    float:right;
    list-style-type:none;
    font-size:16px;







}
html>body #nav2{

    margin-top:-15px;
    margin-right:40px;



}
#nav2 li{
    list-style-type:none;
    float:left;

    text-align:center;

    line-height:12px;
}
#nav2 li a{
    color: #333333;
    text-decoration:none;
    display:block;
    padding:20px 19px 20px 19px;
}

#nav2 li a:hover{
    color: #333333;
    text-decoration:none;
    display:block;

    padding:20px 19px 20px 19px;
    text-decoration:underline;

}