{# Template Created By: DDV <ddv@qubitlogic.net> #}


{% extends '::base.html.twig' %}

{% block title 'About Us' %}

    {% block content %}
        <div class="container">
            <div class="separator-shadow-top bottom-margin">
                <img alt="" src="{{ asset('bundles/mainsite/images/shadow-separator-wide-top.png') }}">
            </div>
            <div class="slogan text-center">
                <h2 class="header-highlighted">Buying and Selling Bitcoins</h2>

                <p>Buying and selling Bitcoins has never been easier.</p>

                <div class="slogan-buttons">
                    <a class="btn btn-primary btn-cta btn-lg animated-when-visible animated swing"
                       data-animation-type="swing" data-toggle="modal" href="#contactModal">
                        Contact Us Now
                    </a>
                </div>
            </div>
            <div class="separator-shadow-bottom bottom-margin">
                <img alt="" src="{{ asset('bundles/mainsite/images/shadow-separator-wide-bottom.png') }}">
            </div>
        </div>
        <br/><br/><br/><br/><br/>
    {% endblock %}