{# Template Created By: DDV <ddv@qubitlogic.net> #}


{% extends '::base.html.twig' %}

{% block title 'Marketplace Offer List' %}

    {% block content %}
        <div class="container">
                {% include 'MainSiteBundle:Default:viewContent.html.twig' %}
        </div>
    {% endblock %}