{# Template Created By: DDV <ddv@qubitlogic.net> #}


{% extends '::base.html.twig' %}

{% block title 'Bitcoin Withdraw Request' %}

    {% block content %}
        <div class="container">
            <div class="col-md-12">
                {% include 'MainSiteBundle:Notification:flashes.html.twig' %}
                <div class="col-md-5 col-md-offset-2">
                    <div class="well well-sm">
                        <h2>Bitcoin Withdraw Request</h2>
                        <p>How many bitcoins would you like to withdraw?</p>
                        <p>{{ form(form) }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}