{# Template Created By: DDV <ddv@qubitlogic.net> #}


{% extends 'MainUserBundle::userArea.html.twig' %}

{% block title 'USD Withdraw Request' %}
    {% block user_header 'USD Withdraw Request' %}

    {% block user_content %}
        <div class="container">
            <div class="col-md-12">
                {% include 'MainSiteBundle:Notification:flashes.html.twig' %}
                <div class="col-md-5 col-md-offset-2">
                    <div class="well well-sm">
                        <h2>{{ method|capitalize }} Withdraw Request</h2>
                        <p>How much would you like to withdraw?</p>
                        <p>{{ form(form) }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock user_content %}