{# Template Created By: DDV <ddv@qubitlogic.net> #}

{% extends 'MainUserBundle::userArea.html.twig' %}

{% block title 'User Verification' %}

    {% block user_header 'User Verification' %}

    {% block user_content %}
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-5 col-md-offset-2">
                    <div class="well-sm">
                        <h2>User Verification</h2>
                        <p>To verify your user account, please send us a copy of a government issued ID or utility bill showing your address to the email listed below.</p>
                        <p>Verification Email: <strong>verify@quadrigacx.com</strong></p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock user_content %}