{# Template Created By: DDV <ddv@qubitlogic.net> #}


{% extends 'MainUserBundle::userArea.html.twig' %}

{% block title 'Withdraw Request' %}

    {% block user_header 'Withdraw Request' %}

    {% block user_content %}
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-5 col-md-offset-2">
                    <div class="well well-sm">
                        <h2>Withdraw Request</h2>
                        <p>What kind of withdrawal would you like?</p>
                        <p><a href="{{ path('user_withdraw_fiat',{'method': 'etf'}) }}" class="btn btn-info">ETF/Wire Transfer</a> <a href="{{ path('user_withdraw_fiat',{'method': 'wu'}) }}" class="btn btn-info">Western Union</a> <a href="{{ path('user_withdraw_digital') }}" class="btn btn-info">Bitcoin</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock user_content %}